.box {
  height: 20px;
  width: 20px;
  background-color: honeydew;
  border: solid 1px white;
}

.box.hasSnake {
  background-color: green;
}

.box.hasBait {
  background-color: red;
}

.box.hasSnake.isHead {
  background-color: blueviolet;
}